* {
  font-family: 'Raleway', sans-serif;
}

*responsive {
  max-width: 100%;
  height: auto;
}

.skills-div-p{
   display:block !important;
}

.skills-div-p i{
   margin-right: 1em !important;
   font-weight: bold;
}
