* {
  box-sizing: border-box;
}

.skills-container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {
  width: 50%;
  background-color: #4CAF50;
}

.css {
  width: 50%;
  background-color: #2196F3;
}

.js {
  width: 50%;
  background-color: #6463b7;
}

.php {
  width: 60%;
  background-color: #808080;
}

h1 {
}

.skills.sql {
  background-color: rgb(210,101,0);
  width: 50%;
}

